html, body {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
}

.body {
    padding: 0;
    margin: 0 auto;
    font-family: "Open Sans", "sans-serif";
    background-color:#FFF;
}

.main {
    display: flex;
    flex-direction: column;
}

.header {
    color: #FFF;
    background-color: #323232;
    height: 63px;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    width: 100%;
}

.navbar-list {
    margin: 0px 0px 0 0; 
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    padding: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    transition: all .7s ease;
    -webkit-transition: all .7s ease;
    text-align: center;
}

.navbar-list:hover {
  opacity: .9;
  transition: all .6s ease;
  -webkit-transition: all .6s ease;
  color: rgb(1, 156, 21);
  text-decoration: none;
}

.right {
  margin-left: 10px;
} 

.logo {
    width: 64px;
    height: 55px;
    z-index: 1;
    margin-top: 20px;
    margin-left: 19px;
    text-align: center;
  }


.hexagon {
  position: absolute;
  width: 100px; 
  height: 32.74px;
  background-color: #323232;
  margin: 28.87px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

/* .hexagon:before {
  bottom: 100%;
  border-bottom: 28.87px solid #323232;
} */

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #323232;
}

.image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 750px;
  width: 100%;
}

.blog {
  width: 100%;
  height: 341px;
  background-color: #2eb398;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}

.blog-description {
  display: flex;
  flex-direction: column;
  width: 635px;
} 

.author {
  padding: 25px;
}

.author-photo {
  width: 100%;
}

.name {
  color: #d7fcf5;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

.job {
  margin-top: -5px;
  color: #20816d;
  font-size: 18px;
  font-weight: 400;
}

.blog-description_job {
  margin-top: -10px;
  color: #d7fcf5;
  font-size: 15px;
  font-weight: 400;
}

.links {
  text-align: right;
}

.contact {
  height: 564px;
  background-color: #323232;
  display: flex;
  color: #FFF;
  width: 100%;
}

.getintouch {
  margin-right: 385px;
  color: #e0e0e0;
  font-size: 18px;
  font-weight: 400;
}
.getintouch-objective {
  color: #e0e0e0;
  font-size: 18px;
  font-weight: 400;
  margin-top: -20px;
  margin-bottom: 5px;
}

.contact-block {
  width: 60%;
  margin: 45px 0px 0px 423px;
}

.input {
  color: #bebebe;
  width: 100%;
  height: 38px;
  background-color: #454545;
  border: none;
  font-family: "Open Sans", "sans-serif";
  margin-top: 6px;
  margin-bottom: 14px; 
  text-indent: 5px;
}

.message {
  font-family: "Open Sans", "sans-serif";
  font-size: 15px;
  width: 100%;
  height: 150px;
  background-color: #454545;
  color: #bebebe;
  border: none;
  margin-top: 6px;
  margin-bottom: 14px;
  text-indent: 5px;
  resize: vertical;
}

.submit {
  width: 90px;
  height: 37px;
  background-color: #2eb398;
  border: none;
  color: #FFF;
  font-family: "Open Sans", "sans-serif";
  cursor: pointer;
  display: grid;
  text-align: center;
  margin-left: 494px;
}

.contact-info {
  width: 90%;
  margin: 115px 0px 0px 30px;
}

.contact-info_location {
  width: 40%;
}

.contact-info_text, .info {
  width: 190px;
  height: 200px;
  color: #bebebe;
  font-size: 14px;
  font-weight: 400;
}

.info {
  text-indent: 10px;
}

.mail {
  width: 13px;
  height: 8px;
  margin-top: 6px;
}

.location {
  width: 7px;
  height: 11px;
  margin-top: 5px;
}

.phone {
  width: 11px;
  height: 11px;
  margin-top: 5px;
}

.text {
  margin: 0px 0px 0px 10px;
  width: 100%;
}

.flex_text {
  width: 100%;
  display: flex;
  margin: 0 auto;
  text-align: left;
}

.footer {
  height: 45px;
  background-color: #222222;  
}

.footer-rights {
  color: #454545;
  font-size: 14px;
  font-weight: 400;
  text-indent: 30px;
}

@media screen and (max-width: 1230px) {
  .contact-block {
    width: 60%;
    margin: 45px 0px 0px 150px;
    text-align: center;
  }
  .submit {
    margin: 0;
    text-align: center;
  }
  .contact-info {
    width: 90%;
    margin: 115px 0px 0px 30px;
  }
  .contact-info_text, .info {
    width: 190px;
    height: 200px;
    color: #bebebe;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
}

@media screen and (max-width: 1080px) {
  .main-images {
    width: 90%;
    padding: 0;
  }
  .blog {
    width: 100%;
  }
  .blog-description {
    width: 100%;
    text-align: left;
  } 
  .blog-description_job, .job, .name  {
    padding: 5px;
  }
  .links {
    text-align: left;
  }
  .contact {
    display: flex;
    flex-direction: column;
    height: 850px;
  }
  .contact-block {
    width: 50%;
    margin: 45px 0px 0px 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .submit {
    margin: 0;
    text-align: center;
  }
  .contact-info {
    width: 100%;
    margin: 45px 0px 0px 150px;
  }
  .contact-info_text, .info {
    width: 255px;
    height: 150px;
    color: #bebebe;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
}
@media screen and (max-width: 650px) {
  .main, .navbar, .message, .contact {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  .logo {
    display: none;
  }
  .main-images {
    width: 75%;
    padding: 0;
  }
  .image {
    width: 100%;
    height: 400px;
    text-align: center;
  }
  .header {
    width: 100%;
    height: 270px;
  }
  .right {
    margin-left: 0px;
  } 
  .navbar {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .hexagon {
    display: none;
  }
  .blog {
    width: 100%;
    height: 630px;
    display: flex;
    flex-direction: column;
  }
  .blog-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  } 
  .blog-description_job {
    padding: 10px;
  }
  .links {
    text-align: center;
  }

  .contact {
    display: flex;
    flex-direction: column;
    height: 850px;
  }
  .contact-block {
    width: 65%;
    margin: 45px 0px 0px 73px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .submit {
    margin: 0;
    text-align: center;
  }
  .contact-info {
    width: 100%;
    margin: 45px 0px 0px 73px;
  }
  .contact-info_text, .info {
    width: 255px;
    height: 150px;
    color: #bebebe;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
}

@media screen and (max-width: 350px) {
  .contact-block, .contact-info {
    width: 65%;
    margin: 45px 0px 0px 55px;
    text-align: center;
  }
  .contact-info_text, .info {
    width: 200px;
  }
}